.map-section {

  background-color: $white;

  .lead {
    color: $pink;
  }

  h2 {
    color: $black;
    width: 70%;
    margin: 0 auto;

    @include media-breakpoint-down(lg) {
      width: 100%;
    }
  }
}

@include media-breakpoint-down(lg) {
  section.map-section {
    padding: 20px;
  }
}