@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

body {
  font-family: 'Gilroy-Regular';
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gilroy-Bold';
  font-weight: 800;
}

a {
  text-decoration: none;
}